@media (min-width: 640px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  #menu {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  section {
    grid-column: span 2;
  }
}